[Unit]
Description=Run Home Telegram Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/npm start
WorkingDirectory=
User=
Group=

[Install]
RequiredBy=multi-user.target
